.popup-for-acc-reserve{
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    z-index: 1000 !important;
    position: fixed;    
    border-radius: 20px;
    transform: translate(50%,15%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding:0px 15px 0px 25px;
}   

.special-guide-reserve{
    height: 500px;
}