.all-tourist-packages{
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px 10px 10px 10px;
}

.all-tourist-packages .package-card{
    width:30%;
    background-color:#f6f6f6;
    height: 20rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package-card h5{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px !important;
    color:#004577 ;
}

.all-tourist-packages .package-card-image{
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background-color:blue;
}

.package-name-price{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap:100px;
}

.package-name-price span{
    font-size: 25px;
    color: #DB163A;
    font-weight: 600;
}

.view-package-row-01 span{
    font-size: 45px;
    color: #DB163A;
    font-weight: 600;
}

.view-package-row-01 p{
    font-size: 25px;
    font-weight: 600;
}


.tourist-packages-view{
    background-color: #ffffff;
    width: 100%;
    border-radius: 15px;
}

.view-package-row-01{
    width: 100%;
    gap : 20px;
}

.tourist-packages-view .package-view-image{
    background-color: aqua;
    width: 100%;
    height: 20rem;
    border-radius: 20px;
}

.view-package-row-01 h3{
    font-weight: 600;
}

.view-package-row-02{
    width: 100%;
}

.row-2-description{
    width:100%;
    text-align: justify;    
    margin-top: 15px;
}

.row-2-description p{
    text-align: justify;
    font-size: 16px !important;
}

.row-2-itinerary{
    width: 35%;
}

.package-details-list p{
    font-size: 20px;
    font-weight: 500;
}

.package-details-list span{
    color: #004577;
    font-size: 20px;
}

.package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* To distribute the divs evenly in the container */
    margin: -10px; /* Adjust this margin to create space between the columns */
  }
  
  .package-card {
    flex: 0 0 calc(33.33% - 20px); /* 33.33% width for each column */
    margin: 10px; /* Margin to create space between columns */
    /* Other styles for package-card */
  }

  .package-row-editing{
        width: 65%;
  }

  .pk0{
    background-image: url(../../assets/images/pk0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk1{
    background-image: url(../../assets/images/pk1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk2{
    background-image: url(../../assets/images/pk2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk3{
    background-image: url(../../assets/images/pk3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk4{
    background-image: url(../../assets/images/pk4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk5{
    background-image: url(../../assets/images/pk5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk6{
    background-image: url(../../assets/images/pk6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk7{
    background-image: url(../../assets/images/pk7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk8{
    background-image: url(../../assets/images/pk8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk9{
    background-image: url(../../assets/images/pk9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pk10{
    background-image: url(../../assets/images/pk10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk11{
    background-image: url(../../assets/images/pk11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk12{
    background-image: url(../../assets/images/pk12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk13{
    background-image: url(../../assets/images/pk13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk14{
    background-image: url(../../assets/images/pk14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk15{
    background-image: url(../../assets/images/pk15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk16{
    background-image: url(../../assets/images/pk16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk17{
    background-image: url(../../assets/images/pk17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk18{
    background-image: url(../../assets/images/pk18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pk19{
    background-image: url(../../assets/images/pk19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }