.guide-top h4{
    padding-left: 0px !important;
}

.guide-bottom-left{
    width: 60%;
    height: inherit;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 15px;
}

.guide-bottom-right{
    width: 40%;
    height: inherit;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 15px;
}

.guide-bottom-left-heading{
    padding-left: 0px;
    padding-right: 40px;
}

.guide-bottom-left-heading{
    color: #DB163A;
    font-size: 15px;
    font-weight: 500;
}

.our-guide-class{
    margin-left: 20px !important;
}

.margin-right-view{
    margin-right: 30px !important;
}


.guide-image{
    background-color: aqua;
    width: 13rem;
    height: 13rem;
    border-radius: 15px;
}

.guide-tile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide-tile{
    gap: 5px !important;
}