.hotel-searchbar{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    gap: 20px;
}

input:focus{
    outline: none;
}

.hotel-searchbar div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0px;  
}

.hotel-search-btn{
    align-items: center !important;
    background-color: #004577 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.hotel-search-btn:hover{
    background-color: #005694 !important;
    cursor: pointer;
}

.hotel-place{
    width: 25%;
}

.hotel-place input{
    width: 100%;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: #aaaaaa 1px solid;
    height: 35px;
    padding: 10px;
}

.hotel-checkin{
    width: 20%;
}

.hotel-checkin input{
    width: 100%;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: #aaaaaa 1px solid;
    height: 35px;
    padding: 10px;
}

.hotel-checkout{
    width: 20%;
}

.hotel-checkout input{
    width: 100%;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: #aaaaaa 1px solid;
    height: 35px;
    padding: 10px;
}

.hotel-room-pax{
    width: 25%;
}

.hotel-room-pax input{
    width: 40%;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: #aaaaaa 1px solid;
    height: 35px;
    padding: 10px;
    text-align: center;
}

.hotel-room-pax button{
    border: none;
    border: #aaaaaa 1px solid;
    border-radius: 10px;
    height: 35px;
    width: 20%;
    font-size: 20px;
}

.hotel-offers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #ffffff;
    border-radius: 15px;
}

.hotel-famous-places{
    background-color: #ffffff;
    width: 100%;
    border-radius: 15px;
    padding: 20px 10px 15px 20px;
}

h4{
    margin: 0px !important;
}

.hotel-heading-para{
    margin: 0px;
    font-weight: 400;
    font-size: 17px;
    padding-left: 30px;
}

.hotel-place-text{
    font-weight: 800 !important;
    color: #004577;
}

.hotel-searchlist{
    height: 100%;
    padding: 10px 10px 15px 10px;
}

.hotel-search-filter{
    background-color: #ffffff;
    width: 25%;
    height: 100%;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
}

.hotel-search-filter h5{
    font-weight: 500;
}

.hotel-search-hotellist{
    width:75%;   
    background-color: #ffffff;
    height: 100%;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
}

.search-list-01{
    /* background-color: #f1f1f1; */
    width: 100%;
    padding: 10px;
    border: #c1c1c1 2px solid;
    border-radius: 25px;
}

.search-hotel-img1{
    background-image: url("../../assets/images/hs1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    background-color: #004577;
    border-radius: 15px;
    height: 250px;
}

.search-hotel-img2{
    background-image: url("../../assets/images/hs2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    background-color: #004577;
    border-radius: 15px;
    height: 250px;
}

.search-hotel-img3{
    background-image: url("../../assets/images/hs3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    background-color: #004577;
    border-radius: 15px;
    height: 250px;
}

.search-hotel-img4{
    background-image: url("../../assets/images/hs4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    background-color: #004577;
    border-radius: 15px;
    height: 250px;
}

.search-hotel-img0{
    background-image: url("../../assets/images/hs5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    background-color: #004577;
    border-radius: 15px;
    height: 250px;
}

.search-hotel-text{
    width: 50%;
}

.search-hotel-price{
    width: 20%;
    background-color: #f1f1f1;
    border-radius: 25px;
    color: #DB163A;
    font-weight: 500;
    padding: 25px 10px 10px 10px;
}

.search-hotel-price p{
    text-align: center;
}

.search-hotel-price Button{
    background-color: #004577;
    border-radius: 10px;
}

.search-hotel-price Button:hover{
    background-color: #005694;
}

.search-hotel-text{
    background-color: #ffffff;
    padding: 20px 0px 0px 30px;
    border-radius: 15px;
}

.search-hotel-text h4{
    padding: 0px;
    color: #004577;
    font-weight: 650;    
}

.hotel-all-search-list{
    padding: 15px 10px 10px 10px;
}

.search-hotel-list{
    padding: 20px 0px 0px 15px;
}

.search-hotel-list p{
    font-weight: 500;
}

.hotel-search-rating{
    background-color:#DB163A;
    border-radius:20px;
    height:60px;
    width:80px;
    color:#ffffff;
    font-size: 20px;
    padding: 10px;
}

.search-hotel-price h6{
    margin: 0px;
    font-weight: 800;
}

.search-hotel-list h5{
    color: #004577;
}

.hotel-room-details{
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px 30px 30px 30px;
}

.hotel-rooms-list{
    width: 100%;
    border-radius: 15px;
}

.hotel-rooms-list h2{
    font-weight: 650;
    font-size: 40px;
}

.tourist-hotel-view-images{
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    border-radius: 15px;
}

.hotel-view-images{
    width: 55%;
    height: 100%;
    border-radius: 25px;
}

.hotel-view-image-main{
    background-image: url("../../assets/images/hotel04.jpg");
    width: 80%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.hotel-view-image-sub{
    width: 20%;
    height: 100%;
}

.hotel-view-image-sub div{
    width: 100%;
    height: 30%;
    background-color: #aaaaaa;
    border-radius: 25px;
    background-image: url("../../assets/images/hotel01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hotel-view-rating{
    width: 12%;
    background-color: #ffffff;
}

.hotel-view-details{
    width: 30%;
    padding: 15px 15px 10px 25px;
}

.roomCard-hotel-view{
    width: 100%;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
}

.roomcard-items{
    width: 25%;
    background-color: #f1f1f1;
    border-radius: 15px;
    height: 420px;
}

.roomcard-hotel-view-image{
    background-color: #004577;
    border-radius: 15px;
    height: 45%;
    background-image: url("../../assets/images/room-image3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.roomcard-hotel-details{
    padding: 10px 5px 10px 5px;
}

.searchResultFilter{
    color: #db163a;
    font-weight: 600;
    font-size: 18px;
}

.roomMoreDetailHover{
    margin-top: -15px !important;
    margin-bottom: 10px !important;
}

.roomMoreDetailHover:hover{
    color: #db163a !important;
    cursor: pointer;
    transition: .3s;
}

.hotel1{
    background-image: url("../../assets/images/hotel1.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.hotel2{
    background-image: url("../../assets/images/hotel2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hotel3{
    background-image: url("../../assets/images/hotel3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hotel4{
    background-image: url("../../assets/images/hotel4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hotel5{
    background-image: url("../../assets/images/hotel5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}   

.place-image-hotel1{
    background-image: url("../../assets/images/hotel1.jpg");
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.place-image-hotel2{
    background-image: url("../../assets/images/hotel2.jpg");
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
.place-image-hotel3{
    background-image: url("../../assets/images/hotel3.jpg");
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
.place-image-hotel4{
    background-image: url("../../assets/images/hotel4.jpg");
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
.place-image-hotel0{
    background-image: url("../../assets/images/hotel5.jpg");
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}