.modalBackground{
  width: 400px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
   position: fixed;  
  top: 50%; /* Adjust this value to center the popup vertically */
  left: 50%; /* Adjust this value to center the popup horizontally */
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.blur-background {
  filter: blur(10px); /* You can adjust the blur amount as needed */
}

.modalContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal.title-modal{
  display: inline-block;
  text-align: center;
  margin-top:10px;
}

.title-modalCloseBtn{
  display: flex;
  justify-content: flex-end;
}

.title-modalCloseBtn button{
  background-color: transparent;
  border:none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body-modal{
  flex:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.7rem;
  text-align: center;
}

.modalContainer .footer-modal{
  flex:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer-modal button{
  width: 150px;
  height: 45px;
  margin: 10px;
  background-color: #004577;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn{
  background-color: #fff;
}

