.request{
    color: #FFC00C;
    font-family: bold;
}

.confirm{
    color: #23FF10;
    font-family: bold ;
}

.reject{
    color: #E71420;
    font-family: bold;
}


.amount{
    color: #004577;
    font-family: bold;
}

.day{
    color: #000000;
    font-family: bold;
}

.view-package{
    display: flex;
    width: 120px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #fff;
    background: #035C94;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}
/* .view-detail {
    display: flex;
    width: 91.912px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #fff;
    background: #035C94;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
  } */