.box {
    border-radius: 10px;
    background: #ffff;
    box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.08);
  }  

.profile-pic{
    border-radius: 50% !important;
  width: 24%;
  height: 10vw;
  object-fit: cover;
}
  