@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap'); 

.blog-bg{
    background-image: url("./../assets/images/buddha.jpg");
    object-fit: cover;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.452);
    background-position: center;
    height: 35rem;
}
.blog-bg h1{
    font-family: Barlow;
    font-weight: bold;
}
.blog-list-img{
    background-color: #004577;
    width: 100%;
    height: 15rem;
    border-radius: 10% 0 10% 0;
}

.blog-list-msg{
    background-color: #ECECEC;
    width: 100%;
    height: 4rem;
    border-radius: 10% 0 10% 0;
}
.blog-full-list {
    border-radius: 5% 5% 0 0;
    margin-top: -5rem;
    background-color: white;
}
.blog-full-list h4{
    font-family: Jost;
}
