p {
    font-size: 20px;
  }
  
  .info {
    height: 22rem;
    background: rgba(219, 22, 58, 0.25);
    border-radius: 2rem;
  }
  
  .heading1 {
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0.01em;
    color: #004577;
  }
  
  .heading2 {
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0.01em;
    color: #db163a;
  }
  
  .contact {
    background-image: url("../assets/img/contact.png");
    object-fit: cover;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.452);
    background-position: center;
    height: 35rem;
  }
  
  .detail {
    font-family: "Jost";
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #004577;
  }
  
  .data {
    font-family: "Jost";
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #db163a;
  }
  
  .location {
    background-image: url(../assets/img/location.png);
    background-position: center;
    background-size: cover;
    height: 28rem;
    border-radius: 10%;
  }
  
  .contact-list {
    border-radius: 5% 5% 0 0;
    margin-top: -5rem;
    background-color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      width: 100% !important;
      padding-bottom: 207px !important;
    }
    .info-text {
      font-size: unset;
    }
  }