.error-main-div .error-bg{
    background-image: url("./../assets/img/bg2.png");
    object-fit: cover;
    height:85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.error-main-div .error-bg h2 {
    font-weight: 700;
    color: #DB163A;
    font-size: 150px;
}

.error-main-div .error-bg h4 {
    font-weight: 300; 
    color: #004577;
    font-size: 50px;
}

.error-main-div .container {
    /* position: absolute;
    top: 20%;
    left: 10%; */
    display: flex;
    padding-top: 7%;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.error-main-div .column {
    width: 50%;
    align-items: center;
    text-align: left;
    padding: 15px;
}

.error-main-div .img_2{
    width: 400px;
    align-self: center;
}