/* #form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
} */

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  /* border-style: 1.076px dashed rgba(39, 116, 207, 0.3); */
  /* border-color: #B2CFF1; */
  background-color: #a0bee8;
}

/* #label-file-upload.drag-active {
  background-color: #ffffff;
} */

.upload-button {
  color: #fff;
  font-family: Mulish;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background: #4c95eb;
  align-self: center;
  border: none;
}

/* .upload-button:hover {
  text-decoration-line: underline;
} */

/* #drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
} */
