.footer{
    background-color: #004577;    
}

.list-group-item{
    border: none !important;
    background-color: #004577 !important;   
}

.list-group-item-head{
    font-size: 18px;   
}

.para{
    width: 60%;
}

.para-2{
    width: 60%;
}

.services{
    margin-left: 2rem;
}

.contact{
    margin-left: 2rem;
}

.divider{
    border: 1px solid white !important;
    margin-bottom: 0.8rem !important;
}

.footer-para{
    height: auto;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;

}


@media screen and (max-width: 700px){
    .footer-flex{
        flex-direction: column;
    }
    
    .services{
        margin-left: 0;
    }

    .contact{
        margin-left: 0;
    }
}