.nav{
    background-color: rgb(255, 255, 255);
    padding-left: 1em !important;
    padding-right: 2em !important;
}

.logo{
    width: 12.5em;

    margin-top: 0%;
    margin-left: 5%;
    height: 90px !important;
    object-fit: cover;
}

.nav-item-1:hover {
    color: #004577 !important;
  text-decoration: underline !important;
  text-decoration-color: crimson !important;
  text-decoration-line:underline !important; 
}

.nav-item-list-1{
    display: flex !important;
    margin-right: 0.625em !important; 
}

.nav-item-list-2{
    display: flex !important;
    margin-right: 50px !important; 
} 

 .nav-item-1{
    width: 5em;
    margin: 10% !important;
    margin-right: 50% !important;
    font-size: 18px !important;
    display: flex !important;
    align-items: center !important; 
}

.nav-item-2{
    
    margin: 10px !important;
    margin-right: 100px !important;
    font-size: 18px !important;
    display: flex !important;
    align-items: center !important; 
}



.nav-item-1:hover {
    color: #004577 !important;
  text-decoration: underline !important;
  text-decoration-color: crimson !important;
  text-decoration-line:underline !important;
}

.reg-btn{
    margin-top: 2px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 40px!important;
    width: 120px !important;
    border-radius: 20px !important;
    transition: .4s !important;
    color: #ffffff ;
}

a:link {
    text-decoration: none;
}
