.logo{
    width: 12.5em;
    margin-top: 0%;
    margin-left: 5%;
    height: 90px !important;
    object-fit: cover;
}

.icon-1{
    margin-top: 60px;
}

.custom-name{
    width: 200px;
}

.custom-dropdown-menu{
    min-width: 120px !important;
    width: 120px !important;
}      
.dropdown-item:hover{
    background: #004577 !important;
    color: white !important;
}