@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,700;1,900&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Barlow', sans-serif !important;
}

.NavBar{
    padding: 5px 5px 5px 40px;
    background-color: #ffffff;
}

.navLogo img{
    width: 140px;
}

.navlinks{
    gap: 30px;
}

.navlinks a{
    text-decoration: none ;
    color: #000000;
}

.login-signup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 5px 40px 5px 0px;
}

.login-signup a{
    text-decoration: none;
    color: #000000;
    font-weight:600;
}

.header-links{
    font-size: 18px;
    font-weight:600;   
    transition: .2s;    
}

.header-links:hover{
    color: #DB163A;
     
}

.NavBar .active{
    color: #DB163A;
    border-bottom: 2px solid #DB163A;
}

.login-signup button{
    background-color: #DB163A !important;
    color: #ffffff !important;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;   
    font-weight: 600;
}

.login-signup button:hover{
    background-color: #bf0728 !important;
}

