.width-inherit{
    width: inherit !important;
}

.box{
   box-shadow:  0px 4px 40px 0px rgba(0, 69, 119, 0.35);
   
}

.box:hover {
    box-shadow:  0px 4px 20px 0px #004577;
    

 }
 /* .sidebar{
    height:41rem !important;

    width:18rem !important;
 } */


 .chart{
    box-shadow:  0px 4px 40px 0px rgba(0, 69, 119, 0.35);
 }

 .chart:hover{
    box-shadow:  0px 4px 20px 0px #004577;
 }
 .bar-container{
    width: 100% !important;
 }

 .calender-div{
    border-radius: 12px !important;
    border: none !important;
    width:inherit !important;
 }

 .calender-div:hover{
    box-shadow:  0px 4px 20px 0px #004577;
 }

 .react-calendar{
    border-radius: 13px;
    border: none !important;
    width: 85% !important;
 }
 