@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

.top{
    background-image: url("../assets/images/bg_service.jpg");
    height:35rem;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    background-blend-mode:color;
    background-color: rgba(0, 0, 0, 0.452);
    background-position: center;
    
}

.text_1{
    font-size: 7rem;
    font-family:'Barlow';
    font-weight: bold;
    padding-top: 10rem;
}

.ser-body{
    border-radius: 4rem 4rem 0 0;
    background-color: #ffffff;
    margin-top: -4rem;
}

.ser_title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #004577;
    padding-top: 1rem;
}

.ser_sm_title{
    font-family:'Jost';
    font-size: 3rem;
    color: #004577;
    padding-top: 2rem;
    
}

.total{
    width: 60%;
    align-self: center;
}

.sub{
    font-family:'Jost';
    color: #DB163A;
}

.element{
    padding-top: 2.5rem;
    padding-bottom: 2rem;

}

.img_2{
    width: 100px;
    align-self: center;
}

.P1{
    color: #004577;
    font-size: 3rem;
}

.P2{
    color: #DB163A;
    font-size: 1.5rem;
}

.P3{
    color: #004577;
    font-size: 1.25rem;
}