.signup-main{
    background-image: url("./../assets/images/signupbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40rem;
}

.signup-main .signup-content-container{
    width: 40rem;
    height: 37rem;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    padding: 25px 30px 30px 30px;
    margin-right: 100px;
}

.signup-content-container h4{
    color: #004577;
}

.signup-content-container h4 span{
    font-weight: 800;
}

.signup-input-row p{
    font-size: 18px;
    font-weight: 500;
}

.signup-input-row input{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}

.signup-input-row select{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}

.signup-input-row select:focus{
    outline: none;
}

.signup-input-row-btn{
    border: none !important;
}

.signup-input-row-btn:hover{
    background-color: #005fa3 !important;
}

.already-have-account a{
    text-decoration: none;
    color: #004577;
    font-weight: 600;
}

.signup-input-row-registerlinks{
    margin-top: -10px;
}

.signup-input-row-registerlinks a{
    text-decoration: none;
    color: #004577;
    font-weight: 700;
    font-size: 17px;
}

.signup-input-row-elements{
    width: 33%;
}

.signup-error-text {
    color: red;
    font-size: 12px;
  }